---
const {
  id,
  data: {
    source,
    title,
    description,
    icon,
    published,
    tags,
    role,
    file, dependencies
  }
} = Astro.props;

const prettyRoles = {
    "server": ["Server-side"],
    "client-required": ["Client-side (Required)"],
    "client-optional": ["Server-side (Optional)"],
    "both-required": ["Server-side", "Client-side (Required)"],
    "both-optional": ["Server-side", "Client-side (Optional)"],
}[role];
---

<article class="mod">
    <div class="modInfo">
        <img class="image" src={icon} alt={`Icon for the ${title} mod.`} />
        <h2 class="title">{title}</h2>
    </div>
        <ul class="roles">
            {prettyRoles.map((r) => <li><span class="role">{r}</span></li>)}
        </ul>
        <ul class="tags">
            {tags.map((t) => <li><a class="tag" href={`/tags/${t.replace(" ", "-").toLowerCase()}`}>{t}</a></li>)}
        </ul>
    <p class="description">{description}</p>
    <div class="buttons">
        <a class="primary button" href={file}>Download</a>
        <a class="secondary button" href={`https://modrinth.com/mod/${id}`}>Go to Mod Page</a>
    </div>
</article>

<style>
    .modInfo {
        display: grid;
        grid-template-columns: auto 100%;
        align-items: center;
        gap: 1rem;
    }

    .image {
        width: 64px;
        height: 64px;
        border-radius: 8px;
        background-color: black;
    }

    .tags, .roles {
        margin-block: 0.5rem;
        display: flex;
        gap: 0.5rem;
        list-style: none;
    }

    .tag, .role {
        display: inline-block;
        background-color: gray;
        color: white;
        padding: 0.5rem 1rem;
        border-radius: 9999px;
        text-decoration: none;
    }
</style>
