---
import type { CollectionEntry } from "astro:content";

const {
    mod: {
        id,
        data: {
            source,
            title,
            description,
            icon,
            published,
            tags,
            role,
            file,
            dependencies,
        },
    },
    showTags = true,
} = Astro.props;

interface Props {
    showTags: boolean;
    mod: CollectionEntry<"mods">;
}
---

<article class="mod">
    <div class="modInfo">
        <div class="modHeader">
            <img class="image" src={icon} alt={`Icon for the ${title} mod.`} />
            <div class="titleAndTags">
                {
                    showTags && (
                        <ul class="tags">
                            {tags.map((t: string) => (
                                <li>
                                    <a
                                        class="tag"
                                        href={`/tag/${t.replace(/ /g, "-").toLowerCase()}`}
                                    >
                                        {t}
                                    </a>
                                </li>
                            ))}
                        </ul>
                    )
                }

                <h2 class="title">{title}</h2>
            </div>
        </div>
    </div>
    <p class="description">{description}</p>
    <div class="buttons">
        <a class="primary button" href={file}>Download</a>
        <a class="secondary button" href={`https://modrinth.com/mod/${id}`}
            >Go to Mod Page</a
        >
    </div>
</article>

<style>
    .modHeader {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .image {
        width: 64px;
        height: 64px;
        border-radius: 8px;
        background-color: black;
    }

    .tags {
        display: flex;
        gap: 0.5rem;
        list-style: none;
    }

    .tag {
        color: white;
        opacity: 0.5;
    }

    .description,
    .buttons {
        margin-top: 0.5rem;
    }
</style>
