---
import BaseLayout from "@layouts/BaseLayout.astro";
import ModItem from "@components/ModItem.astro";
import { getCollection } from "astro:content";

const autoModPackId = "k68glP2e";
const mods = (await getCollection("mods")).sort(({ data: a }, { data: b }) =>
    a.title.localeCompare(b.title),
);
const autoModPackFile = mods.find((mod) => mod.id === autoModPackId).data.file;

const meta = {
    name: "Low-Power SMP",
    gameVersion: "1.21.1",
    loader: "Fabric",
    season: {
        number: 1,
        title: "The Beginning"
    }
}
---

<BaseLayout title="Low-Power SMP Catalogue">
    <p><b>Welcome to the server!</b> This website is a little quick-start guide on the server, joining, seasons, etc.</p>

    <section>
    <h2>Server Information</h2>
    <table class="table">
        <tr>
            <th>Season</th>
            <td>Season {meta.season.number} - {meta.season.title}</td>
        </tr>
        <tr>
            <th>Minecraft Version</th>
            <td>{meta.gameVersion}</td>
        </tr>
        <tr>
            <th>Mod Loader</th>
            <td>{meta.loader}</td>
        </tr>
        <tr>
            <th>Server Address</th>
            <td><b>play.morganlabs.dev</b></td>
        </tr>
    </table>
    </section>

    <section>
        <h2>Mods</h2>
        <p>All of the <b>required</b> mods in this server are handled automagically by <a href={autoModPackFile} download>AutoModPack</a>! It is the <b>only</b> mod you <b>need</b> to download to join the server.</p>

        <section>
            <h3>AutoModPack Instructions</h3>
            <p>When you join the server with AutoModPack installed, you will be prompted for a verification key.</p>
            <p>If you trust me (I hope you do), you can press Skip, type "I accept the risk" when prompted, and wait 10 seconds.</p>
            <p>However, if you don't trust me :(, I can get the key for you to verify (just DM me).</p>
        </section>

        <h3>Optional Mods</h3>
        <section>
            <p>AutoModPack doesn't let yet me assign "required" and "optional" mods, so you can download all optional mods with the button below.</p>
            <p>Optional mods are <b>not</b> required to join the server, but they may enhance your experience! And of course, if you want to remove any optional mod, that's absolutely fine!</p>
        </section>
        <div class="downloadButtons">
            <a class="button primary" href="/mods/lpsmp-optional-mods.zip" download>Optional Mods</a>
        </div>
    </section>

    <h3>All Mods</h3>
    <p>Below you can see a full list of ALL of the mods on the server. This includes server-side, client-side, and optional mods.</p>
    <p>The checkboxes on the left side indicate whether or not the mod is required by the client, if it is installed on the server, and if it may be installed on the client (from left to right respectively).</p>
    <section>
        <table class="mods table">
            <tr>
                <th>Required?</th>
                <th>Server</th>
                <th>Client</th>
                <th>Icon</th>
                <th>Title</th>
                <th>Description</th>
                <th>Direct Download</th>
                <th>Mod Page</th>
            </tr>
            {mods.map((mod) =>
                <tr>
                    <td> <input type="checkbox" checked={mod.data.role.includes("required")} disabled /> </td>
                    <td> <input type="checkbox" checked={["server", "both-required", "both-optional"].includes(mod.data.role)} disabled /> </td>
                    <td> <input type="checkbox" checked={["client-required", "client-optional", "both-required", "both-optional"].includes(mod.data.role)} disabled /> </td>
                    <td>{mod.data.icon ? <img src={mod.data.icon} alt={`${mod.data.title} icon`} width="32" height="32" /> : "N/A"}</td>
                    <td>{mod.data.title}</td>
                    <td>{mod.data.description}</td>
                    <td><a href={mod.data.file} download>Download</a></td>
                    <td>
                        {mod.data.source === "modrinth" ? <a href={`https://modrinth.com/mod/${mod.id}`}>Modrinth Page</a> :
                         "N/A"}
                    </td>
                </tr>
            )}
        </table>
    </section>
</BaseLayout>

<style>
    .downloadButtons {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-block: 0.5rem;
    }

    .table {
        border-collapse: collapse;
        border: 2px solid rgb(200,200,200);
        letter-spacing: 1px;
        font-size: 0.8rem;
        overflow-x: auto;
        width: 100%;

        td, th {
          border: 1px solid rgb(190,190,190);
          padding: 0.5rem 1rem;
        }

        th {
          background-color: rgb(235,235,235);
          color: black;
        }

        td {
          text-align: left;
        }

        tr:nth-child(even) td {
          background-color: rgb(250,250,250);
          color: black;
        }

        tr:nth-child(odd) td {
          background-color: rgb(245,245,245);
          color: black;
        }

        caption {
          padding: 10px;
        }
    }

    section {
        margin-block: 1rem;
        overflow: auto;
    }
</style>
